:root {
  --opacity50: rgba(0, 23, 51, 0.02);
  --opacity100: rgba(2, 32, 71, 0.05);
  --opacity200: rgba(0, 27, 55, 0.1);
  --opacity300: rgba(0, 29, 58, 0.18);
  --opacity400: rgba(0, 25, 54, 0.31);
  --opacity500: rgba(3, 24, 50, 0.46);
  --opacity600: rgba(0, 19, 43, 0.58);
  --opacity700: rgba(3, 18, 40, 0.7);
  --opacity800: rgba(0, 12, 30, 0.8);
  --opacity900: rgba(2, 9, 19, 0.91);

  --grey50: #f9fafb;
  --grey100: #f2f4f6;
  --grey200: #e5e8eb;
  --grey300: #d1d6db;
  --grey400: #b0b8c1;
  --grey500: #8b95a1;
  --grey600: #6b7684;
  --grey700: #4e5968;
  --grey800: #333d4b;
  --grey900: #191f28;

  --blue50: #e8f3ff;
  --blue100: #c9e2ff;
  --blue200: #90c2ff;
  --blue300: #64a8ff;
  --blue400: #4593fc;
  --blue500: #3182f6;
  --blue600: #2272eb;
  --blue700: #1b64da;
  --blue800: #1957c2;
  --blue900: #194aa6;

  --red50: #ffeeee;
  --red100: #ffd4d6;
  --red200: #feafb4;
  --red300: #fb8890;
  --red400: #f66570;
  --red500: #f04452;
  --red600: #e42939;
  --red700: #d22030;
  --red800: #bc1b2a;
  --red900: #a51926;

  --orange50: #fff3e0;
  --orange100: #ffe0b0;
  --orange200: #ffcd80;
  --orange300: #ffbd51;
  --orange400: #ffa927;
  --orange500: #fe9800;
  --orange600: #fb8800;
  --orange700: #f57800;
  --orange800: #ed6700;
  --orange900: #e45600;

  --yellow50: #fff9e7;
  --yellow100: #ffefbf;
  --yellow200: #ffe69b;
  --yellow300: #ffdd78;
  --yellow400: #ffd158;
  --yellow500: #ffc342;
  --yellow600: #ffb331;
  --yellow700: #faa131;
  --yellow800: #ee8f11;
  --yellow900: #dd7d02;

  --green50: #f0faf6;
  --green100: #aeefd5;
  --green200: #76e4b8;
  --green300: #3fd599;
  --green400: #15c47e;
  --green500: #03b26c;
  --green600: #02a262;
  --green700: #029359;
  --green800: #028450;
  --green900: #027648;

  --purple50: #f9f0fc;
  --purple100: #edccf8;
  --purple200: #da9bef;
  --purple300: #c770e4;
  --purple400: #b44bd7;
  --purple500: #a234c7;
  --purple600: #9128b4;
  --purple700: #8222a2;
  --purple800: #73228e;
  --purple900: #65237b;

  --text-primary: var(--grey800);
  --text-secondary: var(--grey700);
  --text-disabled: var(--grey400);
  --yourssu-primary: #816dec;

  --slack-text-primary: #1d1c1d;
  --slack-text-secondary: #616061;
  --slack-text-tertiary: #868686;
  --slack-text-opacity700: #1d1c1db3;
  --slack-text-link: #1264a3;
  --slack-text-inline-code: #c01343;

  --slack-divider-inline: #dddddd;
  --slack-command-active: #1264a3;
  --slack-submit-primary: #007a5a;
  --slack-mention-bg: #1d9bd11a;
  --slack-stroke-decorative: #1d1c1d21;
  --slack-button-default: #1d1c1d0f;
  --slack-codeblock-bg: #1d1c1d0a;
}
