@import 'tailwindcss';

:root {
  --opacity50: rgba(0, 23, 51, 0.02);
  --opacity100: rgba(2, 32, 71, 0.05);
  --opacity200: rgba(0, 27, 55, 0.1);
  --opacity300: rgba(0, 29, 58, 0.18);
  --opacity400: rgba(0, 25, 54, 0.31);
  --opacity500: rgba(3, 24, 50, 0.46);
  --opacity600: rgba(0, 19, 43, 0.58);
  --opacity700: rgba(3, 18, 40, 0.7);
  --opacity800: rgba(0, 12, 30, 0.8);
  --opacity900: rgba(2, 9, 19, 0.91);

  --grey50: #f9fafb;
  --grey100: #f2f4f6;
  --grey200: #e5e8eb;
  --grey300: #d1d6db;
  --grey400: #b0b8c1;
  --grey500: #8b95a1;
  --grey600: #6b7684;
  --grey700: #4e5968;
  --grey800: #333d4b;
  --grey900: #191f28;

  --blue50: #e8f3ff;
  --blue100: #c9e2ff;
  --blue200: #90c2ff;
  --blue300: #64a8ff;
  --blue400: #4593fc;
  --blue500: #3182f6;
  --blue600: #2272eb;
  --blue700: #1b64da;
  --blue800: #1957c2;
  --blue900: #194aa6;

  --red50: #ffeeee;
  --red100: #ffd4d6;
  --red200: #feafb4;
  --red300: #fb8890;
  --red400: #f66570;
  --red500: #f04452;
  --red600: #e42939;
  --red700: #d22030;
  --red800: #bc1b2a;
  --red900: #a51926;

  --orange50: #fff3e0;
  --orange100: #ffe0b0;
  --orange200: #ffcd80;
  --orange300: #ffbd51;
  --orange400: #ffa927;
  --orange500: #fe9800;
  --orange600: #fb8800;
  --orange700: #f57800;
  --orange800: #ed6700;
  --orange900: #e45600;

  --yellow50: #fff9e7;
  --yellow100: #ffefbf;
  --yellow200: #ffe69b;
  --yellow300: #ffdd78;
  --yellow400: #ffd158;
  --yellow500: #ffc342;
  --yellow600: #ffb331;
  --yellow700: #faa131;
  --yellow800: #ee8f11;
  --yellow900: #dd7d02;

  --green50: #f0faf6;
  --green100: #aeefd5;
  --green200: #76e4b8;
  --green300: #3fd599;
  --green400: #15c47e;
  --green500: #03b26c;
  --green600: #02a262;
  --green700: #029359;
  --green800: #028450;
  --green900: #027648;

  --purple50: #f9f0fc;
  --purple100: #edccf8;
  --purple200: #da9bef;
  --purple300: #c770e4;
  --purple400: #b44bd7;
  --purple500: #a234c7;
  --purple600: #9128b4;
  --purple700: #8222a2;
  --purple800: #73228e;
  --purple900: #65237b;
}

/* scripts/codegen/gen-theme.ts에 의해서 자동으로 채워져요. */
@theme {
--color-opacity50: var(--opacity50);
--color-opacity100: var(--opacity100);
--color-opacity200: var(--opacity200);
--color-opacity300: var(--opacity300);
--color-opacity400: var(--opacity400);
--color-opacity500: var(--opacity500);
--color-opacity600: var(--opacity600);
--color-opacity700: var(--opacity700);
--color-opacity800: var(--opacity800);
--color-opacity900: var(--opacity900);
--color-grey50: var(--grey50);
--color-grey100: var(--grey100);
--color-grey200: var(--grey200);
--color-grey300: var(--grey300);
--color-grey400: var(--grey400);
--color-grey500: var(--grey500);
--color-grey600: var(--grey600);
--color-grey700: var(--grey700);
--color-grey800: var(--grey800);
--color-grey900: var(--grey900);
--color-blue50: var(--blue50);
--color-blue100: var(--blue100);
--color-blue200: var(--blue200);
--color-blue300: var(--blue300);
--color-blue400: var(--blue400);
--color-blue500: var(--blue500);
--color-blue600: var(--blue600);
--color-blue700: var(--blue700);
--color-blue800: var(--blue800);
--color-blue900: var(--blue900);
--color-red50: var(--red50);
--color-red100: var(--red100);
--color-red200: var(--red200);
--color-red300: var(--red300);
--color-red400: var(--red400);
--color-red500: var(--red500);
--color-red600: var(--red600);
--color-red700: var(--red700);
--color-red800: var(--red800);
--color-red900: var(--red900);
--color-orange50: var(--orange50);
--color-orange100: var(--orange100);
--color-orange200: var(--orange200);
--color-orange300: var(--orange300);
--color-orange400: var(--orange400);
--color-orange500: var(--orange500);
--color-orange600: var(--orange600);
--color-orange700: var(--orange700);
--color-orange800: var(--orange800);
--color-orange900: var(--orange900);
--color-yellow50: var(--yellow50);
--color-yellow100: var(--yellow100);
--color-yellow200: var(--yellow200);
--color-yellow300: var(--yellow300);
--color-yellow400: var(--yellow400);
--color-yellow500: var(--yellow500);
--color-yellow600: var(--yellow600);
--color-yellow700: var(--yellow700);
--color-yellow800: var(--yellow800);
--color-yellow900: var(--yellow900);
--color-green50: var(--green50);
--color-green100: var(--green100);
--color-green200: var(--green200);
--color-green300: var(--green300);
--color-green400: var(--green400);
--color-green500: var(--green500);
--color-green600: var(--green600);
--color-green700: var(--green700);
--color-green800: var(--green800);
--color-green900: var(--green900);
--color-purple50: var(--purple50);
--color-purple100: var(--purple100);
--color-purple200: var(--purple200);
--color-purple300: var(--purple300);
--color-purple400: var(--purple400);
--color-purple500: var(--purple500);
--color-purple600: var(--purple600);
--color-purple700: var(--purple700);
--color-purple800: var(--purple800);
--color-purple900: var(--purple900);
}
